
<!-- Footer Wrap -->
<footer>
	<!-- <div id="f"> -->
		<div class="container">
			<div class="row">
				<div class="col-lg-4">

					<h3>About LizIt</h3>
					<p>We exist to create and grow high tech startups. We do this by hosting community events, leading technology education courses, and offering a shared workspace environment. <br></p>

				</div>

				<div class="col-lg-4" id="footer-links">

					<h3>Our Headquarters</h3>
					<p><a href="https://www.google.com/maps/place/Mindspace+Koszyki/@52.2224379,21.0093963,422m/data=!3m2!1e3!4b1!4m5!3m4!1s0x471eccee977a6705:0x221ec8875463b744!8m2!3d52.2224379!4d21.011585" >
						Koszykowa 61 <br/>
						00-667 Warszawa, Poland</a><br/>
						<a href="mailto:contact@lizit.org">contact@lizit.org</a><br>
						
					</p>

				</div>
				<div class="col-lg-4">

					<h3>Newsletter</h3>
					<p>Get monthly updates from the LizIt community.</p>

					<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">

					<div id="mc_embed_signup">
					<form style="padding:0px" action="https://lizit.us2.list-manage.com/subscribe/post?u=5114422b2183673d50186748d&amp;id=946c001ab3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<input style="margin: auto; width:170px" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
						<div style="margin-bottom:5px;" class="clear footer-signup">
							<input style="margin: auto;margin-top: 1em; background-color:#d43f3a" onmouseover="this.style.color='rgb(255,155,155)'" onmouseout="this.style.color='white'" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
						</div>
					</form>
					</div>

				</div>
			</div>
			</div><!-- /row -->
		</div><!-- /container -->
	<!-- </div> --><!-- /Footer wrap -->
</footer>

<div class="community-footer">
    <div class="container">
      <div class="row items">
        <div class="col-lg-10 col-lg-offset-1">
        <table class="table">
          <tr>
            <th>
              <img src="{{ site.baseurl }}/assets/img/ainc_community_logo.png" alt="LizIt logo"/> Community
            </th>
            <th>
              <img src="{{ site.baseurl }}/assets/img/ainc_community_logo.png" alt="LizIt logo"/> About
            </th>
            <th>
              <img src="{{ site.baseurl }}/assets/img/ainc_community_logo.png" alt="LizIt logo"/> Workspace
            </th>
          </tr>
          <tr>
            <td><a href="{{ site.baseurl }}/" >LizIt</a></td>
            <td><a href="{{ site.baseurl }}/about/#core-values" >Core Values</a></td>
			<td><a href="https://www.google.com/maps/place/Mindspace+Koszyki/@52.2224379,21.0093963,17z/data=!3m1!4b1!4m5!3m4!1s0x471eccee977a6705:0x221ec8875463b744!8m2!3d52.2224379!4d21.011585" >Map</a></td>
          </tr>
          <tr>
            
            
            
          </tr>
          
          <tr>
            
            <td><a href="{{ site.baseurl }}/press" >Press</a></td>
			<td><a href="{{ site.baseurl }}/contact">Contact Us</a></td>
            
          </tr>
          <tr>
            <td><a href="{{ site.baseurl }}/our-jobs">Careers</a></td>
            
           
          </tr>
        </table>
        </div> <!-- /col-lg-10 -->
      </div> <!-- /row items -->
    </div> <!-- /container -->

</div>






	<!-- Google Analytics JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2028878-9']);
	  _gaq.push(['_setDomainName', 'lizit.org']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  </body>
</html>
